nav ul {
  display: flex;
  list-style-type: none;
  padding: 1rem;
  margin: 0;
}

nav ul li {
  margin: 1rem 2%;
}

nav ul li a {
  padding: 1rem;
  font: 800 1.75rem 'Garamond', serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

header {
  font: 800 1.75rem 'Garamond', serif;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: black;
  align-content: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

header a div {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 45px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container img {
  max-width: 1200px;
}

.grid-item {
  display: flex;
  flex: 42%;
  justify-content: center;
  flex-direction: row;
  margin: 2%;
}

.grid-item img {
  aspect-ratio: 4/3;
}

.grid-item a {
  text-decoration: none;
  color: initial;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
}

@media (max-width: 800px) {
  .grid-item {
    flex: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 30%;
  padding: 0 15px;
}

.column img {
  vertical-align: middle;
}

h1 {
  font: 'Garamond';
  text-align: center;
  font-size: 1.25rem;
}

.column a {
  margin-top: 30px;
  position: relative;
  display: inline-block;
  cursor: zoom-in;
}

.column a:hover .caption {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.caption {
  opacity: 0;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  z-index: 5;
  color: white;
  background-color: rgba(93, 67, 51, 0.8);
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.container img {
  max-width: 1200px;
}

.grid-item-about {
  flex: 42%;
  justify-content: center;
  flex-direction: row;
  margin: 2%;
}


.grid-item-about p {
  margin: 15% 10% 0% 10%;
}

.grid-item-about img {
  max-width: 25rem;
  margin-top: 10%;
}

#CV {
  margin-top: 5%;
  text-align: center;
  line-height: 25px;
}

#CV a {
  color: rgba(93, 67, 51, 0.8)
}