---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { EXHIBITIONS } from "@consts";
import Gallery from "@components/Gallery.astro";

const data = (await getCollection("exhibitions"))
    .filter(exhibition => !exhibition.data.draft)
    .sort((a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf());

type Acc = {
    [year: string]: CollectionEntry<"exhibitions">[];
}

const exhibitions = data.reduce((acc: Acc, exhibition) => {
    const year = exhibition.data.startDate.getFullYear().toString();
    if (!acc[year]) {
        acc[year] = [];
    }
    acc[year].push(exhibition);
    return acc;
}, {});

const years = Object.keys(exhibitions).sort((a, b) => parseInt(b) - parseInt(a));

console.log(exhibitions["2025"][0].data.images?.[0].file);
---

<PageLayout title={EXHIBITIONS.TITLE} description={EXHIBITIONS.DESCRIPTION}>
    <Container>
        <div class="space-y-10">
            <div class="animate font-semibold text-black dark:text-white">
                Exhibitions
            </div>
            <div class="space-y-4">
                {years.map(year => (
                    <section class="animate space-y-4">
                        <div class="font-semibold text-black dark:text-white">
                            {year}
                        </div>
                        <Gallery works={exhibitions[year]?.map(exhibition => ({
                            slug: exhibition.slug,
                            title: exhibition.data.title,
                            summary: exhibition.data.description,
                            images: (exhibition.data.images ?? []).map(image => ({
                                file: image.file,
                                title: image.title ?? "",
                                description: image.description ?? "",
                            })),
                            
                        })) ?? []} basePath="/exhibitions"/>
                    </section>
                ))}
            </div>
        </div>
    </Container>
</PageLayout>