---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";
import { Image } from "astro:assets";
import AbbyBlackPhoto from "../assets/AbbyBlackPhoto.jpg"; // Adjust path if needed
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <article class="flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 p-2 space-y-4">
        <p>
          Born in Vermont and raised in Arkansas, I am currently pursuing a BA in art and a teaching license from Brigham Young University in Utah.
        </p>
        <p>
          In my art, I explore the commonplace and the familiar. I am intrigued by themes of change, progression, and impermanence and how they indicate life. I often revisit the same scene in my work, contemplating how, no matter how familiar we are with our surroundings, we never truly see the same scene twice. Light changes, shadows shift, objects are used and moved or replaced moment to moment. The spaces we inhabit become reflections of the lives we live and though they do not live and move and breath themselves, they become infused with the life and joys and curiosities of those who inhabit them.
        </p>
        <p>
          Through a range of mediums and approaches, including drawing, printmaking, and painting, I capture these scenes from my own apartment, seeking to understand and gain appreciation for the world in which I live and my place in it.
        </p>
        <p>
          <a href="/files/CV.pdf" target="_blank" rel="noopener noreferrer">Abby Black CV</a>
        </p>
        <p>
          <Link href="mailto:abigail.erdman4@gmail.com">abigail.erdman4@gmail.com</Link>
        </p>
        <p>
          <a href="https://www.instagram.com/abbyblackart/" target="_blank" rel="noopener noreferrer">@abbyblackart</a>
        </p>
      </div>
      <div class="w-full md:w-1/2 p-2 space-y-4">
        <Image src={AbbyBlackPhoto} alt="Abby Black" />
      </div>
    </article>
  </Container>
</PageLayout>