---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";
import { Image } from "astro:assets";
import AbbyBlackPhoto from "../assets/AbbyBlackPhoto.jpg"; // Adjust path if needed
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <article class="flex flex-wrap justify-center">
      <div class="w-full md:w-1/2 p-2 space-y-4">
        <p>
          Layering printmaking, watercolor, and drawing, Abby Black captures
          simple moments from her day-to-day life through images of the home.
          Seeking to slow down in a busy world, she frequently revisits scenes
          and focuses on fleeting moments, contemplating how even familiar
          spaces change subtly over time. Currently living and working in Utah,
          Black is pursuing a BFA in studio art with an art education licensure
          from Brigham Young University, Provo. Between classes, she works part
          time as a Student Educator at BYU’s Museum of Art where she designs
          programs for young children and families, researches art educational
          techniques, and leads tours for school and community groups.
        </p>
        <p>
          <a href="/AbbyBlackCV.pdf" target="_blank" rel="noopener noreferrer"
            >Abby Black CV</a
          >
        </p>
        <p>
          <Link href="mailto:abigail.erdman4@gmail.com"
            >abigail.erdman4@gmail.com</Link
          >
        </p>
        <p>
          <a
            href="https://www.instagram.com/abbyblackart/"
            target="_blank"
            rel="noopener noreferrer">@abbyblackart</a
          >
        </p>
      </div>
      <div class="w-full md:w-1/2 p-2 space-y-4">
        <Image src={AbbyBlackPhoto} alt="Abby Black" />
      </div>
    </article>
  </Container>
</PageLayout>
