<header class="font-bold p-3 flex justify-between">
    <a href="/" title="home" class="align-content-center flex flex-row g-4 items-center">
        <img src="/img/AbbyBlackArtLogo.svg" class="max-h-full max-w-11" />
        <h1>Abby Black Art</h1>
    </a>
    <nav>
        <ul class="flex list-unstyled p-4">
            {{ $currentPage := . }} {{ with site.Params.menu }} {{ range . }}
            <li class="m-4">
                <a href="{{ .url }}" {{ if eq $.RelPermalink .url }} class="font-bold" {{ end }}>{{ .name }}</a>
            </li>
            {{ end }} {{ end }}
        </ul>
    </nav>
</header>
