---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SITE, NAV_LINKS } from "@consts";

type Props = {
  title: string;
  description: string;
  navLinks?: {
    label: string;
    href: string;
  }[];
};


const { title, description, navLinks = NAV_LINKS} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header navLinks={navLinks} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
